body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease;
}

.typing {
    font-weight: 300;
    margin: 20px 0;
    font-size: 22px;
    min-height: 30px;
    color: #c084fc;
}


.hero h2 {
    font-weight: 300;
    margin: 20px 0;
}

.btn {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    padding: 12px 25px;
    color: white;
    text

